{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

<link rel="stylesheet" href="{% static 'index/css/b4.css' %}">
<script src="{% static 'index/js/b4.js' %}"></script>



<div id="AgregarProductoModal" class="modal" style="overflow: scroll;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white">Nuevo producto</h5>
                <i class="fas fa-boxes"></i></h3>
            </div>
            <div class="modal-body text-black">
                <form method="POST" action="{% url 'AddProducto' %}" enctype="multipart/form-data">{% csrf_token %}
                    {% for field in form_add %}
                    <p>{{field.label}} <br>
                        {{field|add_class:"form-control text-dark"}}</p>
                    {% for error in field.errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" onclick="clearForm(this.form)" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="submit" class="btn btn-success">
                    Agregar
                </button>
            </div>
            </form>
        </div>
    </div>
</div>

<div id="EditarProductoModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white">Editar producto</h5>
                <i class="fas fa-box-open"></i></h3>
            </div>
            <div class="modal-body text-black">
                <form method="POST" action="{% url 'EditProducto' %}" enctype="multipart/form-data">{% csrf_token %}
                    <input type="hidden" id="id_edit" name="id_edit">
                    <input type="hidden" id="old_imagen" name="old_imagen">
                    {% for field in form_editar %}
                    <p> {{field.label}} <br>
                        {{field|add_class:"form-control"}}
                    </p>
                    
                    {% for error in field.errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}

                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" onclick="clearForm(this.form)" class="btn btn-danger" data-dismiss="modal">
                   Cacelar
                </button>
                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="EliminarProductoModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white">Eliminar producto</h5>
                <i class="fas fa-box"></i>
            </div>
            <div class="modal-body text-black">
                <p class="labelmodal">¿Estás seguro?</p>
                <form method="POST" action="{% url 'DeleteProducto' %}">{% csrf_token %}
                    <input type="hidden" id="id_delete" name="id_delete">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                   Cancelar
                </button>
                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Productos   <i class="fas fa-boxes"></i></h3>
        <div class="col-md-3 pb-2">
            <a href="#AgregarProductoModal"
                data-toggle="modal" data-dismiss="modal">
                <button type="button" class="btn btn-success">
                    Agregar Producto
                    <i class="fas fa-plus-circle"></i>
                </button>
            </a>
        </div>
        <div class="card card-body" style="overflow:scroll">
            <table class="table table-hover table-primary" id="myTable">
                <thead>
                    <tr>
                        <th># ID</th>
                        <th>Código TPV</th>
                        <th>descripción</th>
                        <th>Precio</th>
                        <th>Stoc</th>
                        <th>Imagen</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    {% for i in registros %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.codigo}}</td>
                        <td>{{i.descripcion}}</td>
                        <td>{{i.precio}}</td>
                        <td>{{i.cantidad}}</td>
                        <td>
                        {% if i.imagen %}
                        <img src="{{i.imagen.url}}" alt="Error" width="35" height="35">
                        {% endif %}
                        </td>
                        <td>
                            <button onclick="editarProducto('{{i.id}}', '{{i.codigo}}', '{{i.descripcion}}', '{{i.precio}}', '{{i.cantidad}}', '{{i.taxes}}','{{i.imagen.name}}')" 
                             class="btn btn-dark-outline btn-sm" data-toggle="modal" href="#EditarProductoModal"><img src="{% static 'index/img/editar.png' %}" alt="Error" width="30"></button>
                            
                            <button onclick="eliminarReg('{{i.id}}')" class="btn btn-dark-outline btn-sm"
                                data-toggle="modal" href="#EliminarProductoModal"><img
                                    src="{% static 'index/img/delete.png' %}" alt="Error" width="30"></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        icon: '{{message.tags}}',
        title: 'Información',
        text: "{{message}}",
    })
</script>
{% endfor %}
{% endif %}
{% endblock %}


{% block mainjs %}
  <script type="text/javascript" charset="utf8" src="{% static 'index/js/main.js' %}?{{ time }}"></script>
{% endblock %}